@font-face {
  font-family: Poppins-Black;
  src: url('./Poppins-Black.ttf');
}
@font-face {
  font-family: Poppins-BlackItalic;
  src: url('./Poppins-BlackItalic.ttf');
}
@font-face {
  font-family: Poppins-Bold;
  src: url('./Poppins-Bold.ttf');
}
@font-face {
  font-family: Poppins-BoldItalic;
  src: url('./Poppins-BoldItalic.ttf');
}
@font-face {
  font-family: Poppins-ExtraBold;
  src: url('./Poppins-ExtraBold.ttf');
}
@font-face {
  font-family: Poppins-ExtraBoldItalic;
  src: url('./Poppins-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: Poppins-Italic;
  src: url('./Poppins-Italic.ttf');
}
@font-face {
  font-family: Poppins-Light;
  src: url('./Poppins-Light.ttf');
}
@font-face {
  font-family: Poppins-LightItalic;
  src: url('./Poppins-LightItalic.ttf');
}
@font-face {
  font-family: Poppins-Medium;
  src: url('./Poppins-Medium.ttf');
}
@font-face {
  font-family: Poppins-MediumItalic;
  src: url('./Poppins-MediumItalic.ttf');
}
@font-face {
  font-family: Poppins-Regular;
  src: url('./Poppins-Regular.ttf');
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url('./Poppins-SemiBold.ttf');
}
@font-face {
  font-family: Poppins-SemiBoldItalic;
  src: url('./Poppins-SemiBoldItalic.ttf');
}
@font-face {
  font-family: Poppins-Thin;
  src: url('./Poppins-Thin.ttf');
}
@font-face {
  font-family: Poppins-ThinItalic;
  src: url('./Poppins-ThinItalic.ttf');
}

.Gilroy-Bold {
  font-weight: bold;
}

.Poppins-Black {
  font-family: Poppins-Black;
}
.Poppins-BlackItalic {
  font-family: Poppins-BlackItalic;
}
.Poppins-Bold {
  font-family: Poppins-Bold;
}
.Poppins-BoldItalic {
  font-family: Poppins-BoldItalic;
}
.Poppins-ExtraBold {
  font-family: Poppins-ExtraBold;
}
.Poppins-ExtraBoldItalic {
  font-family: Poppins-ExtraBoldItalic;
}
.Poppins-Italic {
  font-family: Poppins-Italic;
}
.Poppins-Light {
  font-family: Poppins-Light;
}
.Poppins-LightItalic {
  font-family: Poppins-LightItalic;
}
.Poppins-Medium {
  font-family: Poppins-Medium;
}
.Poppins-MediumItalic {
  font-family: Poppins-MediumItalic;
}
.Poppins-Regular {
  font-family: Poppins-Regular;
}
.Poppins-SemiBold {
  font-family: Poppins-SemiBold;
}
.Poppins-SemiBoldItalic {
  font-family: Poppins-SemiBoldItalic;
}
.Poppins-Thin {
  font-family: Poppins-Thin;
}
.Poppins-ThinItalic {
  font-family: Poppins-ThinItalic;
}
